{
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
